.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container-fluid {
  height: 100%;
  font-family: 'Open Sans';
}

.container-fluid .header {
  height: 10%;
  background: white;
  z-index: 999;
}

.container-fluid .header ul {
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.container-fluid .header ul li {
  width: 20%;
  text-align: center;
  border-bottom: 2px solid rgba(61, 153, 125, 0.53);
  color: #16382E;
}

.container-fluid .header ul li:hover {
  cursor: pointer;
  background-color: rgba(61, 153, 125, 0.53);
}

.container-fluid .aboutMe {
  height: 90%;
  background: plum;
}

.container-fluid .projects {
  height: 90%;
  background: yellow;
}

.container-fluid .skills {
  height: 90%;
  background: pink;
}

.container-fluid .contact {
  height: 90%;
  background: url("images/brickWall.jpg") no-repeat center;
  background-size: cover;
}

.container-fluid .contact .links {
  background-color: rgba(250, 250, 250, 0.05);
  padding: 0;
}

.container-fluid .contact .links .github {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container-fluid .contact .links .github h4 {
  color: #ffffff;
}

.container-fluid .contact .links .github:hover {
  background: url("images/L_logo.png") no-repeat center;
  background-size: cover;
}

.container-fluid .contact .links .github:hover h4 {
  display: none;
}

.container-fluid .contact .links .github:hover {
  background: url("images/github.png") no-repeat center;
  background-size: cover;
}

.container-fluid .contact .links .linkedin {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container-fluid .contact .links .linkedin h4 {
  color: #ffffff;
}

.container-fluid .contact .links .linkedin:hover {
  background: url("images/L_logo.png") no-repeat center;
  background-size: cover;
}

.container-fluid .contact .links .linkedin:hover h4 {
  display: none;
}

.container-fluid .contact .links .linkedin:hover {
  background: url("images/L_logo.png") no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .container-fluid .contact .links {
    height: 50%;
  }
}

.container-fluid .contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.container-fluid .contact .contactForm #labelContainer {
  width: 80%;
}

.container-fluid .contact .contactForm #labelContainer h2 {
  text-align: center;
  color: #ffffff;
}

.container-fluid .contact .contactForm #name, .container-fluid .contact .contactForm #email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  padding: 1%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  color: white;
}

.container-fluid .contact .contactForm #name::-webkit-input-placeholder, .container-fluid .contact .contactForm #email::-webkit-input-placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #name:-ms-input-placeholder, .container-fluid .contact .contactForm #email:-ms-input-placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #name::-ms-input-placeholder, .container-fluid .contact .contactForm #email::-ms-input-placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #name::placeholder, .container-fluid .contact .contactForm #email::placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #name:focus, .container-fluid .contact .contactForm #email:focus {
  outline: none;
}

.container-fluid .contact .contactForm #message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  padding: 1%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  color: white;
  min-height: 5%;
  max-height: 50%;
  resize: vertical;
  overflow: auto;
}

.container-fluid .contact .contactForm #message::-webkit-input-placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #message:-ms-input-placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #message::-ms-input-placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #message::placeholder {
  color: rgba(95, 224, 186, 0.53);
  opacity: 1;
}

.container-fluid .contact .contactForm #message:focus {
  outline: none;
}

.container-fluid .contact .contactForm #send {
  width: 30%;
  cursor: pointer;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.container-fluid .contact .contactForm #send:hover {
  background: #212529;
  border: 1px solid #212529;
}

@media only screen and (max-width: 768px) {
  .container-fluid .contact .contactForm {
    height: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid .contact {
    height: 180%;
  }
}
/*# sourceMappingURL=style.css.map */