@import "variables";

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

 .container-fluid {

    height: 100%;
    
    font-family: 'Open Sans';
    
    .header {
            height: 100% - $contentBoxHeight;
            background: white;
            z-index: 999;

        ul {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            
            //background-color: blue;
    
            li {
                width: 20%;
                text-align: center;
                border-bottom: 2px solid rgba(61,153,125,0.53);
                color: #16382E;
                //background-color: red;

                &:hover {
                    cursor: pointer;
                    background-color: rgba(61,153,125,0.53);
                }
            }
        }
    }
    
    .aboutMe {
        @include contentBox;
        background: plum;

    }

    .projects {
        @include contentBox;
        background: yellow;
    }

    .skills {
        @include contentBox;
        background: pink;
    }

    @import "contact";

    
}


